// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.border-radius-10 {
    border-radius: 10px;
}

.copy {
    position: fixed;
    bottom: 0;
    right: 0;
}